#section2 {
    background-image: url("/img/basic/background_img_section_2.jpg");
    background-size: 100vw;
    background-repeat: no-repeat;
}

.section-2_header {
    color: #262626;
    font-size: 40px;
}

#section2 header {

}

.section-1_text {

    line-height: 33px;
    color: #262626;
    text-align: justify;


    font-size: 26px;
}

.text-indent {
    padding-left: 50px;
}